<ul class="nav navbar-nav nav-tabs">
    {% for menu_name, menu_items in menus.items %}
        <li id="Table" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if menu_name == selected_menu %}<b>{{ menu_name }}</b>{% else %}{{ menu_name }}{% endif %}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for name, link in menu_items.items %}
                    {% if name == selected_model %}
                        <li id="{{ name }}"><a href="{{ link }}"><b>{{ name }}</b></a></li>
                    {% else %}
                        <li id="{{ name }}"><a href="{{ link }}">{{ name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<div style="left: 10%;position: relative; display: inline; font-size: x-large; top: 10px; ">
    <b>{{ selected_model }}</b>
</div>